#gitignore
*.o
a.out
CMakeCache.txt
comp
comp_new
comp_old
data.bin
out.s
Makefile
perf.data
test.c
cmake_install.cmake
src/*.o
src/*.s
src/*.S
src/*.asm
src/vgcore.*
src/callgrind*
src/data.bin
.vscode/*
.vscode
CMakeFiles
CMakeFiles/*
.cache/*
.cache
out
out/*
compile_commands.json
*.txt
!CMakeLists.txt